*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $secondary
  color: $text-color

.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
input
  border: none
.invalid
  color: $primary
iframe
  width: 100%
.booking__button:hover
  background-color: $light
  color: $primary
  transition: 0.5s all ease-out
.subscribe__button:hover
  background-color: $footer
  color: $light
  transition: 0.5s all ease-out
.card__button:hover
  background-color: $light
  color: $primary
  transition: 0.5s all ease-out
.footer__button:hover
  background-color: $light
  color: $primary
  transition: 0.5s all ease-out
.search__button:hover
  background-color: $footer
  cursor: pointer
  transition: 0.5s all ease-out
.navbar-menu__link:hover
  text-decoration: underline solid 2px $footer
  cursor: pointer
  transition: 0.5s all ease-out
.footer__cards:hover
  text-decoration: underline solid 2px $footer
  cursor: pointer
  transition: 0.5s all ease-out
.footer__link:hover
  text-decoration: underline solid 2px $footer
  cursor: pointer
  transition: 0.5s all ease-out
.footer__item--email:hover
  text-decoration: underline solid 2px $footer
  cursor: pointer
  transition: 0.5s all ease-out
.footer__icon:hover
  background-color: $light
  background-position: 0 -96px
  border-radius: 50%
  transition: 0.5s all ease-out
.breadcrumb-list__item:hover
  text-decoration: underline solid 2px $dark
  cursor: pointer
  transition: 0.5s all ease-out
.user__name:hover
  text-decoration: underline solid 2px $dark
  cursor: pointer
  transition: 0.5s all ease-out
.booking__num:hover
  text-decoration: underline solid 2px $light
  cursor: pointer
  transition: 0.5s all ease-out
.footer__item:hover
  cursor: pointer
